<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>admin_collection</web-resource-name>
  		<url-pattern>/admin/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>ADMIN</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>admin_collection</web-resource-name>
  		<url-pattern>/client/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>CLIENT</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <login-config>
  	<auth-method>BASIC</auth-method>
  	<realm-name>custom-auth</realm-name>
  </login-config>
  
  <security-role>
  	<role-name>ADMIN</role-name>
  </security-role>
  <security-role>
  	<role-name>CLIENT</role-name>
  </security-role>
  
</web-app>
